<footer class="site-footer">
  <div class="container">
    <div class="site-footer__top">
      <div class="site-footer__column">
        <a class="logo logo--reverse site-footer__logo" href="/">
          <svg class="logo__image" width="165" height="40" aria-hidden="false">
            <use xlink:href="/img/sprite.svg#logo"></use>
          </svg>
        </a>
        <p class="site-footer__description">На этом сайте вы найдете бесплатные различные паттернов</p>
      </div>
      <div class="site-footer__column">
        <ul class="socials site-footer__socials">
          <li class="socials__item">
            <a class="socials__link" href="https://x.com/Pattern_Hub" target="_blank" rel="noopener nofollow" title="Я в X">
              <svg class="socials__icon" width="18" height="18" aria-hidden="true">
                <use xlink:href="/img/sprite.svg#x-ic"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="https://pinterest.com/1patternhub" target="_blank" rel="noopener nofollow" title="Я в Pinterest">
              <svg class="socials__icon" width="18" height="18" aria-hidden="true">
                <use xlink:href="/img/sprite.svg#pin-ic"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="https://www.tumblr.com/patternhub1" target="_blank" rel="noopener nofollow" title="Я в Tumblr">
              <svg class="socials__icon" width="18" height="18" aria-hidden="true">
                <use xlink:href="/img/sprite.svg#tumblr-ic"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="https://t.me/patternhub1" target="_blank" rel="noopener nofollow" title="Группа в Telegram">
              <svg class="socials__icon" width="18" height="18" aria-hidden="true">
                <use xlink:href="/img/sprite.svg#tg-ic"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="site-footer__bottom">
      <p class="site-footer__copyright">©<span> 2025</span> pattern-hub.ru</p>
    </div>
  </div>
</footer>