<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if pagination.pageNumber == 0 %}
<title>{{ siteTitle }}</title>
{% else %}
<title>{{ siteTitle }} - Страница {{ pagination.pageNumber + 1 }}</title>
{% endif %}
{% if page.url != "/" %}
<link rel="canonical" href="{{ siteUrl }}/">
{% endif %}
{% if pagination.href.previous %}
<link rel="prev" href="{{ siteUrl }}{{ pagination.href.previous }}">
{% endif %}
{% if pagination.href.next %}
<link rel="next" href="{{ siteUrl }}{{ pagination.href.next }}">
{% endif %}
<meta property="og:locale" content="ru_RU" />
<meta name="description" content="{{ siteDescription }}" />
<meta property="og:description" content="{{ siteDescription }}" />
<link rel="shortcut icon" href="/img/favicon.ico" />
<link rel="icon" type="image/png" href="/img/favicon_32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/img/favicon_48.png" sizes="48x48" />
<link rel="icon" type="image/png" href="/img/favicon_96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/img/favicon_144.png" sizes="144x144" />
<link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
<link rel="manifest" href="/img/site.webmanifest" />
<meta name="google-site-verification" content="fUFWTm-MaYDcXG_ta_xftnCq-LrhPfVt3tT00-pnfng" />
<meta property="og:url" content="{{ siteUrl }}/" />
<meta property="og:site_name" content="{{ siteName }}" />
<meta property="og:image" content="{{ siteUrl }}/img/imagehome.jpg" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="{{ siteTitle }}" />
<meta property="twitter:description" content="{{ siteDescription }}" />
<meta property="twitter:image" content="{{ siteUrl }}/img/imagehome.jpg" />
<meta name="p:domain_verify" content="dd665c771cfacdab8e5e7770ae8a518f"/>
<link rel="stylesheet" href="/css/styles.min.css">