<header class="site-header fixed-block">
  <div class="container site-header__container">
    <a class="logo" href="/">
      <svg class="logo__image" width="165" height="40" aria-hidden="false">
        <use xlink:href="/img/sprite.svg#logo"></use>
      </svg>
    </a>
    <div class="site-header__wrapper">
      <button class="site-header__button" type="button" id="search-button" aria-label="Поиск по сайту">
        <svg class="site-header__icon" width="18" height="18" aria-hidden="true">
          <use xlink:href="/img/sprite.svg#search-ic"></use>
        </svg>
      </button>
      <nav class="site-navigation">
        <a class="site-navigation__link" href="/">главная</a>
        <a class="site-navigation__link" href="/about/">о сайте</a>
        <a class="site-navigation__link" href="/contacts/">контакты</a>
        <ul class="socials site-navigation__socials">
          <li class="socials__item">
            <a class="socials__link" href="https://x.com/Pattern_Hub" target="_blank" rel="noopener nofollow" title="Я в X">
              <svg class="socials__icon" width="24" height="24" aria-hidden="true">
                <use xlink:href="/img/sprite.svg#x-ic"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="https://www.tumblr.com/patternhub1" target="_blank" rel="noopener nofollow" title="Я в Tumblr">
              <svg class="socials__icon" width="22" height="22" aria-hidden="true">
                <use xlink:href="/img/sprite.svg#tumblr-ic"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="https://pinterest.com/1patternhub" target="_blank" rel="noopener nofollow" title="Я в Pinterest">
              <svg class="socials__icon" width="24" height="24" aria-hidden="true">
                <use xlink:href="/img/sprite.svg#pin-ic"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="https://t.me/pattern_hub2" target="_blank" rel="noopener nofollow" title="Группа в Telegram">
              <svg class="socials__icon" width="24" height="24" aria-hidden="true">
                <use xlink:href="/img/sprite.svg#tg-ic"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
      <button class="burger-button" type="button" aria-label="Открыть меню">
        <span class="burger-button__line"></span>
      </button>
    </div>
  </div>
</header>