<div class="share">
  <p class="share__text">Поделиться в:</p>
  <div class="share__list">
    <a class="share__item share__link" title="Share on X" data-social="twitter" data-image="{{ site.url }}{{ post.big_image }}" href="#">
      <svg class="share__icon" width="22" height="22" aria-hidden="true">
        <use xlink:href="/img/sprite.svg#x-ic"></use>
      </svg>
    </a>
    <a class="share__link share__item" title="Share on VK" data-social="vkontakte" data-image="{{ siteUrl }}{{ big_image }}" href="#">
      <svg class="share__icon" width="22" height="22" aria-hidden="true">
        <use xlink:href="/img/sprite.svg#vk-ic"></use>
      </svg>
      <span data-counter="vkontakte"></span>
    </a>
    <a class="share__link share__item" title="Share on Pinterest" data-social="pinterest" data-image="{{ siteUrl }}{{ big_image }}" href="#">
      <svg class="share__icon" width="22" height="22" aria-hidden="true">
        <use xlink:href="/img/sprite.svg#pin-ic"></use>
      </svg>
      <span data-counter="pinterest"></span>
    </a>
    <a class="share__link share__item" title="Share on Telegram" data-social="telegram" data-image="{{ siteUrl }}{{ big_image }}" href="#">
      <svg class="share__icon" width="22" height="22" aria-hidden="true">
        <use xlink:href="/img/sprite.svg#tg-ic"></use>
      </svg>
    </a>
    <div class="share__more share__item">
      <button class="share__link share__button" type="button">
        <svg class="share__icon" width="22" height="22" aria-hidden="true">
          <use xlink:href="/img/sprite.svg#more-ic"></use>
        </svg>
      </button>
      <div class="share__other">
        <div class="share__wrapper">
          <a class="share__link" title="Share on WhatsApp" data-social="whatsapp" data-image="{{ siteUrl }}{{ big_image }}" href="#">
            <svg class="share__icon" width="22" height="22" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#whatsapp-ic"></use>
            </svg>
          </a>
          <a class="share__link" title="Share on LinkedIn" data-social="linkedin" data-image="{{ siteUrl }}{{ big_image }}" href="#">
            <svg class="share__icon" width="22" height="22" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#linked-ic"></use>
            </svg>
            <span data-counter="linkedin"></span>
          </a>
          <a class="share__link" title="Share on Tumblr" data-social="tumblr" data-image="{{ siteUrl }}{{ big_image }}" href="#">
            <svg class="share__icon" width="22" height="22" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#tumblr-ic"></use>
            </svg>
            <span data-counter="tumblr"></span>
          </a>
          <a class="share__link" title="Share on Reddit" data-social="reddit" data-image="{{ siteUrl }}{{ big_image }}" href="#">
            <svg class="share__icon" width="22" height="22" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#reddit-ic"></use>
            </svg>
          </a>
          <a class="share__link" title="Share on Viber" data-social="viber" data-image="{{ siteUrl }}{{ big_image }}" href="#">
            <svg class="share__icon" width="22" height="22" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#viber-ic"></use>
            </svg>
          </a>
          <a class="share__link" title="Share on Weibo" data-social="weibo" data-image="{{ siteUrl }}{{ big_image }}" href="#">
            <svg class="share__icon" width="22" height="22" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#weibo-ic"></use>
            </svg>
          </a>
          <a class="share__link" title="Share on WordPress" data-social="wordpress" data-image="{{ siteUrl }}{{ big_image }}" href="#">
            <svg class="share__icon" width="22" height="22" aria-hidden="true">
              <use xlink:href="/img/sprite.svg#wordpress-ic"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>